body {
      margin: 0;
      padding: 0;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: #3F4846;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      margin-top: 40px;
      margin-bottom: 5px;
      font-size: 80px;
      color: #D47F47;
    }

    .links {
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .links a {
      text-decoration: none;
      color: #D47F47;
      margin: 20px;
      font-size: 25px;
      transition: color 0.3s;
    }

    .links a:hover {
      background-color: #605B54;
    }

    .caja {
      background-color: #a1a1a1;
      padding: 30px;
      border-radius: 3px;
      text-align: center;
      max-width: 600px;
    }

    .caja img {
      width: 300px;
      margin-top: 15px;
    }

    .caja p {
      font-size: 20px;
      color: #333;
    }